<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Yazılar</title>
  <link rel="stylesheet" href="css/adminstyle.css" />
</head>

<body>
  <div class="admin-panel">
    <div class="sidebar">
      <h2>Admin Panel</h2>
      <ul>
        <li><a href="admin">Ana Sayfa</a></li>
        <li><a href="add-post">Post ekle</a></li>
        <li><a href="posts">Postlar</a></li>
        <li><a href="category">Kategoriler</a></li>
        <li><a href="#">Ayarlar</a></li>
      </ul>
    </div>
    
{{!-- <label for="author">Yazara Göre Filtrele:</label>
<select id="author">
  <option value="">Tüm Yazarlar</option>
  <option value="yazar1">Yazar 1</option>
  <option value="yazar2">Yazar 2</option>
  <!-- Diğer yazarlar için option elemanları eklenebilir -->
</select>

<label for="startDate">Başlangıç Tarihi:</label>
<input type="date" id="startDate">

<label for="endDate">Bitiş Tarihi:</label>
<input type="date" id="endDate">

<button onclick="filterPosts()">Filtrele</button> --}}

        </select>
      <ul class="post-list">
        <h3>Mevcut Yazılar</h3>
        {{#each posts}}
        <li>
          <strong>{{title}}</strong>
          <p>{{content}}</p>
          <a href="/posts/edit/{{_id}}">Düzenle</a>
          <a href="/posts/delete/{{_id}}">Sil</a>
        </li>
        {{/each}}
      </ul>

    </div>
  </div>
</body>
</html>
    
    
    
    